version: "3.9"

name: praireader

services:
  praireader:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: praireader_app
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

networks:
  default:
    driver: bridge
